/* 
========
Fonts
========
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');


/* ROOT CONFIGURATION 
=================================================
*/
:root {
    --clr-gold: #c59d5f;
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
    --clr-grey-10: hsl(34, 33%, 96%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s linear;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}
/* ROOT CONFIGURATION 
===========================================
*/
.title {
    margin-top: 15vh;
    margin-bottom: 4rem;
}

.title h2 {
    color: var(--clr-gold);
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

.principal-section {
    width: 90vw;
    margin: 0 auto;
    max-width: 620px;
}

.quest {
    background: white;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
}

.quest-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.quest-title p {
    margin-bottom: 0;
    letter-spacing: var(--spacing);
    color: var(--clr-grey-1);
}

.btn-quest {
    cursor: pointer;
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-gold);
    transition: var(--transition);
}

.quest-text {
    display: block;
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.quest-text p {
    margin-bottom: 0;
}

.btn-quest:hover {
    transform: rotate(90deg);
}

.minus-icon {
    display: none;
}
.show .minus-icon {
    display: inline;
}
.show .plus-icon {
    display: none;
}

.quest-text {
    display: none;
}